@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Heebo:wght@100..900&family=Noto+Sans+Ethiopic:wght@100..900&display=swap');

:root {
    --titleColor: #000000;
    --PreTitleColor: #444444b4;
    --titleColorHover: #757575;
    --titleColorActive: 
    --textColor: #171717;
    --borderColor: #000000;
    --sectionPadding: 6rem 0;
    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Faculty Glyphic", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--titleColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
    color: var(--textColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

/* Navigasi */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}

.navbar ul li {
    display: flex;
    align-items: center;
}

.navbar ul li a {
    color: var(--titleColor);
}

.dharma {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.7rem;
}

.dharma a {
    color: var(--titleColor);
}

/* Button */
.btn {
    padding: 1.5rem 2rem;
    border: 2px solid rgb(0, 255, 13);
    background-color: #ffffff23;
    cursor: pointer;
}

.btn:hover {
    background-color: #adf7b030;
}

.btn:active {
    background-color: #95d2963e;
}
/* End of Button */

/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}
/* End of Burger */

/* Title */
.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--PreTitleColor);
    padding-bottom: 10px;
    position: relative;
    width: fit-content;
    font-weight: 400;
    font-size: 1.2rem;
}

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}
/* End of Title */

/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Hero Section */
#hero {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    margin: 0.5rem 0 1rem;
}

.hero-right img {
    width: 60%;
    height: 50%;
}

.hero-right {
    display: flex;
    justify-content: center;
}
/* End of Hero Section */

/* Services Section */
#services {
    background-color: rgb(247, 246, 246);
    padding: var(--sectionPadding);
}

.services .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: rgb(241, 241, 241);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

.service-icon svg {
    fill: #616161;
}